* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}
.main-container {
    display: flex;
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container h1 {
    text-align: center;
    margin-top: 20px;
    color: dimgray;
}

.app-container {
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: 40px 0 auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    background-color: #fff;
}

button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}

.result-container {
    background-color: snow;
    padding: 14px 100px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #4CAF50;
    width: 30%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.error-container {
    padding: 10px 0;
}

